.todo__card {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    /* 
    background-image: url("");
    background-size: cover;
    background-position: center;
    */
    background-color: #CED0CE;
    transition: 0.2s;
}

.todo__card:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}
  
.todo__text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    color: black;
}
  
.todo__text:focus {
    outline: none;
}
  
.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: black;
}